<div class="py-3">
    <h2>Of and  From</h2>
    <br>
    <strong>Ex - 01 (OF) </strong>
    <hr>


    <div class="row">
        <div class="col-md-6">
            <strong>Data (OF): </strong>
            <p class="border rounded p-2 bg-light">'Aijaz','Zahid','Ahmad'</p>
            <hr>
            <ul id="elContainer">
               
            </ul>
        </div>
    </div>

    <br>
    <strong>Ex - 02 (FROM) </strong>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <hr>
            <strong>Data FROM: </strong>
            <p class="border rounded p-2 bg-light">['Aijaz','Zahid','Ahmad']</p>
            <hr>
            <ul id="elContainer2">
               
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Promise</strong>
            <hr>
            <strong>Data FROM: Promsie to Observable </strong>
            <p class="border rounded p-2 bg-light"></p>
            <hr>
            <ul id="elContainer3">
               
            </ul>
        </div>
        <div class="col-md-4">
            <strong>String</strong>
            <hr>
            <strong>Data FROM: String to Observable </strong>
            <p class="border rounded p-2 bg-light"></p>
            <hr>
            <ul id="elContainer4">
               
            </ul>
        </div>
    </div>
</div >